
			body{
				color: black;
				font-family: Arial;
				font-size: 14px;
				margin: 0px;
				width:calc(100% - 2px);
				height: 100%;
			}
			hr{
				boder:1px solid black;
			}
			#menu{
				color:black;
			}			
			#topbar{
				color:black;
				width:100%;
				heigth: 150px;
				background: #F7AE71;	
				padding: 1px;
			}
			#bar{
				color:black;
				border:1px solid black;
				background:#F7AE71;
			}
			#bar select{
				color:black;
			}
			#toolbar{
				color:black;
				text-align: center;
				float:left;
				min-width:60px;
				height:calc(100% - 70px);
				background: #81BEF7;	
				margin-top: 2px;		
				overflow: auto;	
			}
			
			#treeview{
				background: white;
				//border:1px solid black;
				font-size:12px;
				min-width:150px;
				height:140px;
				overflow:auto;
				margin:4px;
				resize:vertical;
				cursor:pointer;				
			}
			#treeview ul {
				display: block;
				list-style-type: disc;
				margin-top: 0em;
				margin-bottom: 0 em;
				margin-left: 5;
				margin-right: 0;
				padding-left: 10px;
			}
			
			#inspector{
				text-align: center;
				float:right;
				width: 280px;
				height:calc(100% - 70px);
				min-height;0px;
				color: black;
				background: #81BEF7;	
				margin-top: 2px;	
				overflow: auto;	
			}
			#inspector a{
				color:blue;
			}
			#inspector table{
				color:black;
				font-family: Arial;
				font-size: 14px;
				font-weight:800;
				width:100%;
				border-collapse: collapse;
			}
			#inspector td input{
				width:100%;
			}
			#inspector td button{
				width:100%;
				margin-top:2px;
			}		
			#inspector input[type='text']{
				width:150px;
			}

			#screen{
				position:absolute;
				top: 64px;
				width: calc(100% - 358px);
				height: calc(100% - 70px);
				margin-left:68px;
				margin-right: 265px;
				background-image: url(../images/back.png);
				background-repeat:repeat;
				overflow:auto;
			}
			
			#editor{
				position:absolute;
				display: none;
				top: 64px;
				width:calc(100% - 338px);
				height:calc(100% - 90px);
				margin-left:50px;
				margin-right: 250px;
				background:#d0d0d0;
				z-index:1000;
			}
			
			
			.img{
				width: 24px;
				padding: 4px;
				margin: 4px;
				border: 1px solid black;
				filter: invert(0);
			}

			.menu{
				position: absolute; 
				float:left;
				z-index: 1000000;
				top:22px;
				left:10px; 
				width:120px;
				padding:5px; 
				border: 1px solid black; 
				background-color: #E7AE71; 
				color: #000000; 
				overflow: auto; 
				display: none;
				cursor: grab;
			}
			.menu a:hover {
				background: black;
				color: #F7BE81;
			}
			.menu div:hover {
				background: black;
				color: #F7BE81;
				width:100%;
			}
			
			.CodeMirror-hints {
				position: absolute;
				z-index: 10000000000;
				overflow: hidden;
				list-style: none;

				margin: 0;
				padding: 2px;

				-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
				-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
				box-shadow: 2px 3px 5px rgba(0,0,0,.2);
				border-radius: 3px;
				border: 1px solid silver;

				background: white;
				font-size: 90%;
				font-family: monospace;

				max-height: 20em;
				overflow-y: auto;
			}		
			.CodeMirror-hint {
				margin: 0;
				padding: 0 4px;
				border-radius: 2px;
				white-space: pre;
				color: black;
				cursor: pointer;
			}
			li.CodeMirror-hint-active {
				background: #08f;
				color: white;
			}
			.CodeMirror {
				border: 1px solid black; 
				font-size:13px
			}
			

